*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: #1F2937;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topbar {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 28px;
    color: #F9FAF8;
}
.navbar{
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
li{
    list-style: none;
}
a{
    color: #F9FAF8;
    text-decoration: none;
}
a:hover{
    color: #3882F6;
}
.hero{
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
.heroHeading{
    font-size: 48px;
    font-weight: 900;
    color: #E5E7EB;
    text-shadow: 2px 2px 5px rgb(66, 66, 66);
}
.heroSummary{
    font-size: 18px;
    color: #E5E7EB;
}
.heroImg{
    width: 40%;
    border: 2px solid #E5E7EB;
    border-radius: 33px;
    margin-left: 25px;
}
.heroSignupBtn{
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    margin: 10px 0 0 15px;
    padding: 10px 20px;
    font-size: 18px;
}
.heroSignupBtn:hover{
    background-color: #2474f3;
}
.importantLinks{
    background-color: white;
    width: 101%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 60px;
}
.linksHeader{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.linkList{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.linkList div img{
    width: 200px;
    height: auto;
    border: 6px solid #1F2937;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px #1f2937a6;
}
.linkList div p{
    max-width: 250px;
    text-align: center;
}
.link-1, .link-2, .link-3, .link-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.quote{
    background-color: #E5E7EB;
    width: 101%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    padding: 60px 0 60px;
}
.dirQuote{
    font-size: 36px;
    font-style: italic;
}
.speaker{
    font-size: 18px;
    text-align: left;
    align-self: flex-end;
    margin-right: 30%;
}
.signUp{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 5px 50px 5px;
}
.callToAction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 15px;
    width: 60%;
    padding: 5px 40px;
}
.signUpVerb{
    flex: 2 1 0%;
}
.signupBtn{
    background-color: #3882F6;
    color: #F9FAF8;
    border: 3px solid #E5E7EB;
    border-radius: 5px;
    height: 30%;
    font-size: 18px;
    flex: 1 1 0%;
}
.signupBtn:hover{
    background-color: #2474f3;
}